.cards__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.cards__list {
  list-style: none;
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
}

.cards__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-white;
}
