.catalog-products__item {
  padding: 20px 20px 25px;
}

@media (min-width: $tablet-width) {
  .catalog-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    padding: 0 30px 74px;
  }

  .catalog-products__item {
    padding: 0 37px 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-products {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 110px 71px;
    gap: 63px 80px;
  }
}
