.catalog-products__item {
  padding: 20px 20px 25px;
}

@media (min-width: $tablet-width) {
  .catalog-products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 141px 60px;
    padding: 0 30px 74px;
    margin-top: 80px;
  }

  .catalog-products__item {
    padding: 0 37px 40px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-products {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    padding: 0 110px 71px;
    gap: 144px 80px;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
  }
}
