.contacts__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.contacts__address {
  line-height: 20px;
  font-style: normal;
  text-align: right;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
