.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $base-black;
}

.example__text {
  color: $base-color-text;
}

.example__value {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-black;
}

.example__caption {
  font-size: 12px;
  line-height: 12px;
}

.example__price {
  font-family: $secondary-font;
  line-height: 20px;
  color: $base-black;
  text-align: center;
}

.example__button {
  display: block;
  background-color: $base-color-icon;
  border: none;
  border-radius: 4px;
  width: 4px;
  height: 256px;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    background-color: $base-white;
    border: 2px solid $base-color-icon;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    background-color: $base-color-icon;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../../icons/stack.svg#slider-button");
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
  }
}

/*
.example__button::before {
  content: "";
  background-color: $base-white;
  border: 2px solid $base-color-icon;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

*/
