.example {
  padding: 25px 20px 40px;
  background-color: #eaeaea;
}

.example__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 124px;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  position: relative;
}

.example__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $base-black;
  margin: 0;
  padding-bottom: 40px;
}

.example__text {
  color: $base-color-text;
  margin: 0;
}

.example__value {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $base-black;
  padding: 12px 15px 18px;
  margin: 0;
}

.example__caption {
  position: absolute;
  top: 46px;
  width: 70%;
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0 10px;
  text-align: center;
  background-color: #eaeaea;
}

.example__price {
  font-family: $secondary-font;
  line-height: 20px;
  color: $base-black;
  text-align: center;
  margin: 0;
  padding-top: 34px;
  padding-bottom: 20px;
}

.example__button {
  display: block;
  background-color: $base-color-icon;
  border: none;
  border-radius: 2px;
  width: 4px;
  height: 256px;
  position: relative;
  cursor: pointer;
  margin: 0;
  padding: 0;


  &::before {
    content: "";
    background-color: $base-white;
    border: 2px solid $base-color-icon;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    content: "";
    background-color: $base-color-icon;
    width: 24px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mask-image: url("../../icons/stack.svg#slider-button");
    mask-repeat: no-repeat;
    mask-size: 24px 18px;
  }
}

.example__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 20px;
}

.example__slider {
  display: grid;
  grid-template-columns: 140px auto 140px;
  width: 280px;
}

.example__image {
  display: block;
  object-fit: cover;
  height: 256px;

  &--fat {
    object-position: left;
  }

  &--skinny {
    object-position: right;
  }
}

@media (min-width: $tablet-width) {
  .example {
    padding: 45px 30px 101px;
    background-image: linear-gradient(to top, #eaeaea 462px, $base-white 462px);
  }

  .example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .example__list {
    justify-content: flex-start;
    gap: 43px;
    padding-top: 55px;
    padding-bottom: 99px;
  }

  .example__item {
    min-width: 162px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 60px;
  }

  .example__text {
    grid-column: 1 / -1;
    font-size: 16px;
    line-height: 24px;
  }

  .example__value {
    font-size: 30px;
    line-height: 37px;
  }

  .example__caption {
    font-size: 14px;
    line-height: 14px;
    top: 59px;
    min-width: 114px;
    padding: 0;
    background-color: $base-white;
  }

  .example__caption--time {
    min-width: 142px;
  }

  .example__price {
    display: flex;
    flex-direction: column;
    align-items: end;
    font-size: 20px;
    line-height: 20px;
    padding-top: 66px;
  }

  .example__price-value {
    padding-top: 9px;
  }

  .example__image {
    height: 512px;
  }

  .example__slider {
    grid-template-columns: 280px auto 280px;
    padding-left: 104px;
  }

  .example__button {
    height: 512px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: grid;
    grid-template-columns: 433px auto;
    column-gap: 224px;
    padding: 0 110px;
    background-image: linear-gradient(to top, #f2f2f2 462px, $base-white 462px);
  }

  .example__wrapper {
    grid-column: 1 / 2;
    margin-bottom: 75px;
  }

  .example__list {
    grid-column: 1 / -1;
    padding-top: 69px;
    padding-bottom: 55px;
  }

  .example__price {
    grid-column: 1 / -1;
    flex-direction: row;
    gap: 63px;
    padding: 0;
  }

  .example__slider {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .example__title {
    padding-bottom: 145px;
  }

  .example__caption {
    background-color: #eaeaea;
  }
}
