.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $secondary-font;
  color: $base-white;
  background-color: $base-green;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.intro__slogan {
  line-height: 14px;
}

.intro__link {
  font-size: 16px;
  line-height: 20px;
  color: $base-white;
  background-color: $base-green;
}

@media (min-width: $tablet-width) {
  .intro {
    width: 92%;
    margin: 0 auto;
    background-color: $base-white;
    color: $base-black;
  }
}

@media (min-width: $desktop-width) {
  .intro {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .intro__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .intro__slogan {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .intro__image {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    object-fit: cover;
  }
}
