.intro {
  font-family: $secondary-font;
  text-align: center;
  color: $base-white;
  background-color: $base-green;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.intro__slogan {
  line-height: 14px;
}

.intro__link {
  font-size: 16px;
  line-height: 20px;
  color: $base-white;
}

@media (min-width: $desktop-width) {
  .intro {
    display: flex;
  }
}
