.main-header {
  margin-top: 13px;
}

.main-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 87%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.main-header__logo {
  display: flex;
  align-items: center;
  gap: 56px;
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .main-header__wrapper {
    width: 25%;
    margin: 0;
  }

  .main-header__logo {
    padding-top: 25px;
    padding-left: 30px;
    gap: 13px;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    width: $desktop-width;
  }

  .main-header__logo {
    padding-top: 55px;
    padding-left: 110px;
    gap: 14px;
  }
}
