.main-nav__link {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-black;
  text-decoration: none;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 33px;
  }
}

/*
@media (min-width: $desktop-width) {
  .main-nav__list {
    width: 61%;
  }
}
*/
