.main-footer__logo-html {
  display: block;
  mask-image: url("../../icons/stack.svg#html-academy");
  mask-repeat: no-repeat;
  mask-size: 27px 34px;
  background-color: $base-color-icon;
  width: 27px;
  height: 34px;
}
