.show-all {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-all__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.show-all__text {
  font-size: 12px;
  line-height: 16px;
  color: $base-color-text;
}

.show-all__button {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $base-color-text;
}

.show-all__title::before {
  content: "";
  display: block;
  mask-image: url("../../icons/stack.svg#plus");
  mask-repeat: no-repeat;
  mask-size: 30px 30px;
  background-color: #d3d3d3;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}
