.social__link--vk {
  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#vk");
    mask-repeat: no-repeat;
    mask-size: 27px 17px;
    background-color: $base-color-icon;
    width: 27px;
    height: 17px;
  }
}

.social__link--youtube {
  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#youtube");
    mask-repeat: no-repeat;
    mask-size: 27px 17px;
    background-color: $base-color-icon;
    width: 24px;
    height: 19px;
  }
}

.social__link--telegram {
  &::before {
    content: "";
    display: block;
    mask-image: url("../../icons/stack.svg#telegram");
    mask-repeat: no-repeat;
    mask-size: 20px 17px;
    background-color: $base-color-icon;
    width: 20px;
    height: 17px;
  }
}

.social__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
  width: 41%;
}
