.subscription {
  padding: 40px 20px;
}

.subscription__title {
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: $base-black;
  margin: 0;
  position: relative;
  width: fit-content;
  background-color: $base-white;
  box-shadow: -40px 0 0 0 $base-white, 40px 0 0 0 $base-white;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    width: 100vw;
    height: 2px;
    background-color: $base-green;
    box-shadow: 100vw 0 0 0 $base-green;
    z-index: -1;
  }
}

.subscription__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  color: $base-black;
  text-align: center;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 24px;
}

.subscription__button {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: $base-white;
  margin-top: 16px;
  padding: 15px 0;

  &:hover {
    background-color: $base-hover-button;
  }

  &:active {
    background-color: $base-hover-button;
    color: rgb(255, 255, 255, 0.3);
  }
}

.subscription__form {
  display: flex;
  flex-direction: column;
}

.subscription__input {
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: $secondary-font;
  padding: 13px;
  border: 1px solid $base-border;
}

@media (min-width: $tablet-width) {
  .subscription {
    padding: 0;
  }

  .subscription__title {
    font-size: 32px;
    line-height: 32px;
    margin-left: 70px;
  }

  .subscription__text {
    font-size: 24px;
    line-height: 32px;
    padding: 66px 68px 22px;
  }

  .subscription__form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0 68px;
  }

  .subscription__input {
    flex-grow: 1;
    min-width: 376px;
  }

  .subscription__button {
    padding: 15px 69px;
    margin-top: 0;
    min-width: 256px;
  }
}

@media (min-width: $desktop-width) {
  .subscription {
    max-width: 1440px;
    margin: 0 auto;
  }

  .subscription__title {
    font-size: 40px;
    line-height: 40px;
    margin-left: 110px;

    &::before {
      top: 17px;
    }
  }

  .subscription__text {
    padding-top: 70px;
    padding-bottom: 24px;
    margin-left: 18px;
  }

  .subscription__form {
    margin-left: 16px;
    margin-bottom: 104px;
  }

  .subscription__input {
    min-width: 496px;
    flex-grow: 0;
  }
}
